*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    /* background-color: rgb(149, 149, 243); */
}

.upGap{margin-top: 10px;}
.bdr{border: 1px solid black;}

.straight{display: flex; flex-direction: row; align-items: center; justify-content: space-between; border: 1px solid black;}
